- if current_path == 'index.html'
  %script{ src: "https://www.brainyquote.com/link/quotebr.js", type: "text/javascript"}
    %small
      %i
        %a{ ref: "https://www.brainyquote.com/quotes_of_the_day.html", rel: "nofollow",  target: "_blank"} more Quotes
