$font-stack: Helvetica, sans-serif;
$main-color: #7E8187;
$secondary-color: #212733;
$sidebar-color: #4D412F;

body {
  font: 100% $font-stack;
}

.nav-wrapper{
 background-color: $secondary-color;
}

.page-footer {
  background-color: $secondary-color;

  img {
    width: 30px;
    height: 30px;;
  }
}

.wrapper {
  display: grid;
}

.header {
  grid-row: 1;
}

.main {
  grid-row: 3;
  min-height: 300px;
  background-color: $main-color;
}

.sidebar {
  grid-row: 2;
  background-color: $sidebar-color;

  img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.right_sidebar {
  grid-row: 4;
  background-color: $main-color;
}

.footer {
  grid-row: 5;
  max-height: 10px;
}

@media (min-width: 550px) {
  .wrapper {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .header {
    grid-column: 1 / 5;
    grid-row: 1;
    max-height: 180px;
  }
  .main {
    grid-column: 2 / 3;
    grid-row: 2;
    min-height: 760px;
    padding-top: 100px;
    background-color: $main-color;
  }

  .right_sidebar {
    grid-column: 3;
    background-color: $main-color;
    border: 20px;
    padding: 10px;
    margin: 10px;
  }

  .sidebar {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    background-color: $sidebar-color;

    img {
      width: 250px;
      height: 200px;
    }
  }
  .footer {
    grid-column: 1 / 5;
    grid-row: 3;
    max-height: 100px;
  }
}

@media only screen and (min-width: 550px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

@media (max-width: 700px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 80px;
      line-height:40px;
  }
}

.side-nav {
  background-color: #D58100;
}

h5 {
  color: black;
}

.description {
  font-size: 150%;

  a {
    color: #FFCB7C;
  }
}
