$font-stack: Helvetica, sans-serif;

body {
  background: url('background/maintenance-1151314_960_720.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 100% $font-stack;
}

.nav-wrapper{
 background-color: black;
}

.page-footer {
  background-color: black;
}

.wrapper {
  display: grid;
  grid-row-gap: 10px;

}

.header {
  grid-row: 1;
}

.main {
  grid-row: 3;
  min-height: 300px;
}

.sidebar {
  grid-row: 2;
}

.footer {
  grid-row: 4;
  max-height: 10px;
}

@media (min-width: 550px) {
  .wrapper {
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 2em;
    grid-row-gap: 10px;
  }
  .header {
    grid-column: 1 / 3;
    grid-row: 1;
    max-height: 180px;
  }
  .main {
    grid-column: 2 / 3;
    grid-row: 2;
    min-height: 700px;
  }
  .sidebar {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }
  .footer {
    grid-column: 1 / 3;
    grid-row: 3;
    max-height: 100px;
  }
}

@media only screen and (min-width: 550px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

@media (max-width: 700px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 80px;
      line-height:40px;
  }
}

.side-nav {
  background-color: orange;
}

h5 {
  color: #3f51b5;
}

.description {
  font-size: 200%;
}
