---
title: My Portfolio
---
.description
  %desc#te

-# .description
-#   - data.projects.each do |project|
-#     .hide_show
-#       %p{ id: "desc_#{project[:name]}"}= project[:description]
-#
-# .test
-#   %p{ id: "te"}
