---
title: My Portfolio
---
.description
  %a{ id: "github_link", href: "https://github.com"}
    %img{ id: "logo", alt: "GitHub", src: "images/Logos/GitHub-Mark-32px.png", title: "GitHub"}
  %br
  %a{ id: "website_link", href: "https://github.com"} Website for project
  %br
  %desc
  -# %img{ id: "myimage", src: ''}
